{#
/**
 * @file
 * Custom theme implementation for the completion message.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - message: The completion message.
 * - payment_instructions: The payment instructions, if provided.
 * - home_link: A link to the home page for the order's user.
 * - order_detail: The completed commerce_order, as would be viewed at
 *   /user/{user}/orders/{commerce_order}.
 *
 * @ingroup themeable
 */
#}
<div class="checkout-complete">
  <div class="checkout-complete__order">
    <h2 class="cu-heading">{{ 'Order number @number'|t({'@number': order_entity.getOrderNumber}) }}</h2>
    {{ order_detail }}
  </div>

  <div class="checkout-complete__message">
    {{- message -}}
  </div>

  {% if payment_instructions %}
    <div class="checkout-complete__payment-instructions">
      <h2 class="cu-heading">{{ 'Payment instructions'|t }}</h2>
      {{ payment_instructions }}
    </div>
  {% endif %}
</div>
